  <footer class="admin-footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> FgtsAgent - Todos os direitos reservados</p>
    </div>
  </footer>
  
  <%- typeof script !== 'undefined' ? script : '' %>
</body>
</html> 